<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='mysite-questionnaire'}" />
</sly>

<sly data-sly-use.model="com.mysite.core.models.StepwiseQuestionnaireModel">
    <sly data-sly-test="${model}">
        <div class="main-div">
            <section class="section-one">
                <div id="questionnaire" class="questionnaire-section active"
                    style="background-image: url('${properties.baseImage @ context='uri'}');">

                    <div class="container-basic">
                        <div class="upperside">
                            <p class="help-me-choose">HELP ME CHOOSE . Step 1/5</p>
                            <p class="question">${model.question}</p>
                            <p class="drag-to-rearrange">Drag to rearrange.</p>
                        </div>

                        <div class="draggableOptions">
                            <ul class="sortable answers">
                                <sly data-sly-list.answers="${model.answers}">
                                    <div class="answer-container">
                                        <p class="answer-id-box">#${answers.itemIndex}</p>
                                        <div class="answer-section">
                                            <li data-value="${answers.answer}" class="sortable-item section1">
                                                <div>
                                                    <span>
                                                        <img src="${model.draggableIcon}" alt="">
                                                    </span>
                                                </div>
                                                ${answers.answer}
                                            </li>
                                        </div>
                                    </div>
                                </sly>

                            </ul>
                        </div>

                        <div class="buttton-container first">
                            <button type="button" class="next" data-next-section="#section2"
                                onclick="storePreferences();">NEXT</button>
                        </div>
                    </div>
                </div>


                <div id="section2" class="questionnaire-section">

                    <p class="help-me-choose">HELP ME CHOOSE . Step 2/5</p>
                    <p class="question">${model.question2}</p>


                    <div class="screen2">
                        <ul class="selectText">
                            <li data-sly-repeat.screen2Answer="${model.screen2Answers}" class="option-item">
                                <input type="radio" name="pillion" value=" ${screen2Answer}" id="myCheckbox"
                                    class="option-checkbox">
                                <label style="cursor: pointer;">${screen2Answer}</label>
                            </li>

                        </ul>
                    </div>
                    <div class="buttton-container button-container">
                        <button type="button" class="prev" data-prev-section="#questionnaire">BACK</button>
                        <button type="button" id="nextButton" class="next" onclick="checkSelection();"
                            data-next-section="#section3" disabled>NEXT</button>
                    </div>
                </div>


                <div id="section3" class="questionnaire-section">

                    <div class="upperside">
                        <p class="help-me-choose">HELP ME CHOOSE . Step 3/5</p>
                        <p class="question">${model.question3}</p>
                        <p class="drag-to-rearrange">Drag to rearrange.</p>
                    </div>
                    <div class="draggableOptions">
                        <ul class="sortable answers">
                            <sly data-sly-list.screen3Answers="${model.screen3Answers}">
                                <div class="answer-container">
                                    <p class="answer-id-box">#${screen3Answers.index}</p>
                                    <div class="answer-section">
                                        <li data-value="${screen3Answers.text}" class="sortable-item section3"
                                            style="background-size:100%; background-image: linear-gradient(93.59deg, #000000 0.45%, rgba(0, 0, 0, 0.573648) 45.64%, rgba(0, 0, 0, 0) 108.5%), url('${screen3Answers.backgroundImage @ context='uri'}')">
                                            <div>
                                                <span>
                                                    <img src="${model.draggableIcon}" alt="">
                                                </span>
                                            </div>
                                            ${screen3Answers.text}
                                        </li>
                                    </div>
                                </div>
                            </sly>

                        </ul>
                    </div>

                    <div>
                        <div class="buttton-container">
                            <button type="button" class="prev" data-prev-section="#section2">BACK</button>
                            <button type="button" class="next" onclick="placeToRide();"
                                data-next-section="#section4">NEXT</button>
                        </div>
                    </div>

                </div>


                <div id="section4" class="questionnaire-section">
                    <p class="help-me-choose">HELP ME CHOOSE . Step 4/5</p>
                    <p class="question">${model.question4}</p>
                    <div class="notification">
                        <button class="close-btn" aria-label="Close">&times;</button>
                        <p id="notification-message"></p>
                    </div> <!-- Notification element -->
                    <div class="image-grid">
                        <sly data-sly-list.authoredImages="${model.ridingPositionImagesURL}">

                            <div class="image-card" data-image-id=${authoredImagesList.index}
                                data-sly-attribute.customAttr="${model.ridingPositionImageAttributes[authoredImagesList.index]}">
                                <div class="img-div">
                                    <img src="${authoredImages}" alt="Motorcycle Riding Position"
                                        class="selectable-image">
                                </div>
                                <div class="overlay" style="
                            width: 174px;
                            height: 120px;">
                                    <div class="checkmark"><img src="${properties.selectIcon}" alt=""></div>
                                </div>
                            </div>

                        </sly>
                    </div>
                    <div class="buttton-container">
                        <button type="button" class="prev" data-prev-section="#section3">BACK</button>
                        <button type="button" class="next riding button-section" data-next-section="#section5"
                            id="callApiBtn" onclick="getDataFromServlet();" disabled>NEXT</button>
                    </div>
                </div>


                <div id="section5" class="questionnaire-section">
                    <p class="help-me-choose">HELP ME CHOOSE . Step 5/5</p>
                    <p class="question">${properties.question5}</p>

                    <div class="notification">
                        <button class="close-btn" aria-label="Close">&times;</button>

                    </div> <!-- Notification element -->
                    <div class="image-grid">

                        <div class="personal-interest" id="image-card">
                            <div class="help-me-choose-box " id="img-div">

                            </div>
                            <div class="overlay">
                                <div class="checkmark"><img src="${properties.tickBtnIcon}" alt="" id="select-tick-img"
                                        data-image-url="${properties.selectIcon}"></div>
                            </div>
                        </div>

                    </div>
                    <div class="buttton-container">
                        <button type="button" class="prev" id="back-button" data-prev-section="#section4">BACK</button>
                        <button type="button" class="next" id="section5Btn"
                            data-next-section="#main-section">NEXT</button>
                    </div>
                </div>
                <!-- Handlebars template -->
                <div class="main-background" id="main-section"
                    data-sly-attribute.mobileImageURL="${properties.finalBGImageForMobile}"
                    style="background-image: url('${properties.finalBGImage @ context='uri'}');">
                </div>
            </section>
        </div>
    </sly>

    <sly data-sly-test="${!model}">
        <div class="fallback-message">
            <p>No data available for the questionnaire.</p>
        </div>
    </sly>
</sly>

<script id="bike-template" type="text/x-handlebars-template">
    <div class="fixedPart">
        <h2 class="section-title">Meet your next Royal Enfield Motorcycle</h2>
        <div class="bike-tabs">
            {{#each bikes}}
                <div class="bike-tab" data-bike-id="bike-{{@index}}">{{bikeName}}</div>
            {{/each}}
        </div>
       

    </div>
    <div class="bike-cards" id="bike-cards-container">
        {{#each bikes}}
            <div class="bike-inner-card" id="bike-{{@index}}">
                <div>
                    <div class="bike-card">
                        <div class="nameAndImgDiv">
                            <h3 style="margin: 0px;">{{bikeName}}</h3>
                            <span><img src="{{forwardIcon}}" alt="Forward Icon" style="cursor: pointer;"></span>
                        </div>
                        
                        <div class="bike-image-container">
                            <div class="hero-image">
                                <img src="{{bikeHeroImage}}" alt="{{bikeName}} Image"  >
                            </div>
                        </div>
                        
                        <p style="display: flex; justify-content: center;"><strong>Starts from ₹</strong> {{bikePrice}}</p>
                        <div class="image-thumbnails">
                            {{#each bikeSmallImages}}
                                <img src="{{this}}" alt="Small Image" >
                            {{/each}}
                        </div>

                        <div class="bike-info">
                            <ul class="bike-features">
                                {{#each bikeFeatures}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="actions">
                        <button class="configure-btn prev">CONFIGURE NOW</button>
                        <button class="test-ride-btn" id="book-a-test-ride" onclick="showTestRideForm();"
                         bike-details=
                        '{"bikeName": "{{bikeName}}", "bikePrice": "{{bikePrice}}", 
                        "bikeHeroImage": "{{bikeHeroImage}}"}'
                        >BOOK A TEST RIDE</button>
        
                    </div>
                   
                </div>
            </div>
        {{/each}}

       

    </div>
    <div class="cta-message">
        <p>
            <a href="#" class="retry-link">Get more recommandations</a>
        </p>
    </div>
</script>




<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>