# Configuration created by Apache Sling JCR Installer
scripts=["\r\n\ \ \ \ \ \ \ \ create\ path\ (sling:OrderedFolder)\ /content/dam/mysite\r\n\ \ \ \ \ \ \ \ create\ path\ (nt:unstructured)\ /content/dam/mysite/jcr:content\r\n\ \ \ \ \ \ \ \ set\ properties\ on\ /content/dam/mysite/jcr:content\r\n\ \ \ \ \ \ \ \ set\ cq:conf{String}\ to\ /conf/mysite\r\n\ \ \ \ \ \ \ \ set\ jcr:title{String}\ to\ \"MySite\"\r\n\ \ \ \ \ \ \ \ end\r\n\ \ \ \ \ \ \ \ ","create\ service\ user\ demouser\ with\ path\ /home/users/system/system-user-folder/demouser","set\ ACL\ for\ demouser\r\nallow\ jcr:read,rep:write\ on\ /content/mysite\r\nallow\ jcr:read,rep:write\ on\ /conf/mysite\r\nallow\ jcr:read,rep:write\ on\ /apps\r\nend","create\ user\ testuser\ with\ path\ /home/users/main\r\nset\ ACL\ for\ testuser\r\nallow\ jcr:read,rep:write\ on\ /content/mysite\r\nallow\ jcr:read,rep:write\ on\ /conf/mysite\r\nallow\ jcr:read,rep:write\ on\ /apps/mysite\r\nallow\ jcr:read,rep:write\ on\ /home\r\nallow\ jcr:read\ on/\r\nend\r\n"]
references=[""]
