h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* border-radius: 9px; */
    font-optical-sizing: auto;
}

body,html {
    background-color: #181818;
    font-family: "Montserrat", sans-serif;
    /* height: 100%; */
    margin: 0;
    padding: 0;

}

main.container {
    padding: 0;
}

.help-me-choose {
    width: 278px;
    height: 34px;
    color: #aaa;
    font-weight: bold;
   
}

.upperside {
    width: 560px;
    height: 127px;

}

/**** First Section *****************************/
.question {
    width: 560px;
    height: 50px;
    size: 32px;
    color: #FFFFFF;
    letter-spacing: 0.2%;
    font-weight: 600;
}

.section-one {
    min-height: 591px;
    
}

.main-div {
    display: flex;
    justify-content: center;
}

.option-item {
    border: 2px solid transparent;
    transition: border 0.3s ease;
    width: 560px;
}

.container-basic {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.questionnaire-section {
    background-image: url('/content/dam/mysite/background-images/background-image.png');
    background-size: 60% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    display: none;
    width: 654px;
    /* height: 360px; */
    margin: 16px auto;
    
}


.questionnaire-section.active {
    display: block;
    
}

.questionnaire-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.questionnaire-section ul {
    list-style-type: none;
    
}

.draggableOptions {
    width: 560px;
    
    display: flex;
}

.step-header {
    font-size: 24px;
    color: #fff;
}

.current-step {
    font-weight: bold;
    color: #fff;
    width: 71px;
    height: 20px;
    font-size: 18px;
}

.of-total {
    color: #aaa;
    font-size: 18px;
}

.highlighted {
    color: #fff;
}

.dimmed {
    color: #aaa;
}

.answer-id-box {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    color: black;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 9px;
}

.option-item{
    cursor: pointer;
    width: 560px;
}


.questionnaire-section li {
    width: 496px;
    height: 58px;
    background-color: #333;
    cursor: move;
    margin: 0px 0px 20px 0px;
    padding: 15px;
    border-left: 1.5px solid #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    color: white;
    border-radius: 4px;
}

.answer-container {
    display: flex;
    width: 560px;
    height: 75px;
    gap: 22px;

}

.answer-container2 {
    position: absolute;
    left: -58px;
}

.answer-section {
    width: 95%;
}

.option-item.selectedd {
    border-color: white;
}
.upperside2{
    width: 327px;
    height: 35px;
}

button:disabled {
    font-weight: 700;
    background-color: #373737;
    color: #181818;
    cursor: not-allowed;
}

.screen2 {
    width: 327px;
    height: 228px;
    display: flex;
}


/* Hide the default checkbox */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    color: #FFFFFF;
}

.personal-interest {
    cursor: pointer;
}

/* Style the checkbox when it is checked */
input[type="radio"]:checked {
    background-color: #FFFFFF;
    border: none;
}

/* Add a checkmark when the checkbox is checked */
input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 12.42px;
    top: 4px;
    left: 10px;
    gap: 0px;
    color: #000;
    border: solid #000;
    border-width: 0px 3px 3px 0;
    transform: rotate(45deg);
}

/* Adjust button styles as needed */
.questionnaire-section .prev,
.questionnaire-section .next {
    display: flex;
    width: 268px;
    height: 60px;
    gap: 8px;
    border: 1px solid #525252;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    cursor: pointer;
    /* margin-right: 10px; */
    border-radius: 8px;
}

.buttton-container {
    display: flex;
    justify-content: space-between;
    width: 560px;
    gap: 10px;
    margin-top: 23px;
}

.first {
    display: flex;
    justify-content: flex-end;
}

.prev {
    /* margin-left: 8px; */
    background: transparent;
    color: #fff;
}

.next {
    background: #525252;
    border: 1px solid #FFFFFF66;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.drag-to-rearrange {
    font-size: 16px;
    color: #999;
    margin-bottom: 20px;
}


.image-grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;
}

.image-card-box {
    position: relative;
    /* overflow: hidden; */
}


.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    width: 560px;
    margin-bottom: 3rem;
}

.image-card {
    position: relative;
    /* overflow: hidden; */
}

.help-me-choose-box {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border-radius: 4px;
}

.img-div {
    width: 100%;
    height: 124px;
}

.img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selectable-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and fill container */
}

.overlay {
    display: none;
    /* Hidden by default */
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
    background: rgba(255, 255, 255, 0.35);
    /* Semi-transparent white background */
    border: 2px solid white;
    z-index: 10;
    /* Ensure it's above other content */
    border-radius: 4px;
}


/* Styling for the checkmark */
.checkmark {
    position: absolute;
    top: -10px;
    right: -2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    /* Ensure it's above the .overlay */
}

/* Checkmark styling */
.checkmark::after {
    color: #000;
}

/* Show overlay when .image-card has class .selected */
.image-card.selected .overlay {
    display: block;
}

.button-container .next {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-container .next.enabled {
    background-color: #525252;
    /* Enabled button style */
    cursor: pointer;
}

.image-card:hover .overlay {
    opacity: 1;
    /* Show overlay on hover */
}

.img-div img {
    border-radius: 5px;
    border: 2px solid #444;
    cursor: pointer;
}

.selectable-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* CSS to style disabled state of the Next button */
.button-container .next:disabled {
    background-color: #ccc;
    color: #666;
  
    cursor: not-allowed;
   
    opacity: 0.6;
    
}

.motorcycle-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.motorcycle-card {
    display: flex;
    background-color: #1b1b1b;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    width: 338px;
    height: 605px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    align-items: center;
    justify-content: center;
}

.motorcycle-card:hover,
.motorcycle-card:focus-within {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.motorcycle-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fffefd;
}

.motorcycle-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-thumbnails {
    display: flex;
    justify-content: space-evenly;
    /* gap: 10px; */
    margin-top: 10px;
    width: 320px;
    height: 80px;
    /* overflow: hidden; */


}

.image-thumbnails img {
    width: 97px;
    height: 80px;
    object-fit: cover;
    border: 2px solid #444;
    cursor: pointer;
    transform: skew(13deg);

}

.middle-image {
    transform: scale(1.2);
    /* Zoom effect for the middle image */
    z-index: 1;
}

.price {
    display: flex;
    font-size: 12px;
    margin: 15px 0;
    color: #ffffff;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    margin-left: -11rem;
}

.features {
    height: 112px;
    display: flex;
    list-style: none;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 1.5rem;
}

.features li {
    display: flex;
    width: auto;
    height: 32px;
    padding: 8px 10px 8px 10px;
    border-radius: 70px;
    background-color: #282828;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #A7A7A7;
}

.tick {
    font-weight: 500;
    font-size: 12px;
    margin-right: 10px;
    /* Green color for the tick symbol */
}


.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    width: 368px;
    height: 48px;

}

.nameAndImgDiv {
    display: flex;
    justify-content: space-between;

}

.configure-btn {
    margin: 0px;
    border: 1px solid #A7A7A7;
    color: #FFFFFF;
    border-radius: 0px;
}

.actions .configure-btn,
.actions .test-ride-btn {
    display: flex;
    height: 40px;
    width: 204px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
}

.actions button:hover {
    opacity: 0.8;
}


.forward img {
    color: white;
    position: absolute;
    left: 15rem;
    background-color: #fff;

}

#main-section {
    display: none;
    color: #fff;

}


.motorcycle-image h2 {
    margin-right: 200px;
}

.success-message {
    background: #2a2a2a;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.success-message p {
    margin-bottom: 20px;
}

.success-message button {
    padding: 10px 20px;
    background: #ffcc00;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* General Styles */
.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Center horizontally */
    background-color: #f44336;
    color: white;

    padding: 15px 20px;
   
    border-radius: 5px;
  
    font-size: 16px;
  
    font-weight: bold;
  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    
    z-index: 1000;
    
    transition: opacity 0.5s ease, transform 0.5s ease;
   
}

/* Show notification */
.notification.show {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    /* Slide up into view */
}

/* Hide notification */
.notification.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(100px);
   
}

/* Close button styling */
.notification .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

/* Button states */
.next.enabled {
    cursor: pointer;
    opacity: 1;
}

.next.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #525252;
    color: #181818;
}



/* Section 4 image grid styles */
#section4 .image-grid {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* Allow wrapping to the next line */
    /* gap: 15px; */
    /* margin-bottom: 4rem; */
    /* Space between images */
}

#section4 .image-card {
   
    box-sizing: border-box;
    
    position: relative;
    width: 172px;
    
}

#section4 .image-card img {
    width: 100%;
   
    height: auto;
   
    display: block;
 
    transition: box-shadow 0.3s ease;
    
}



::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar:hover {
    background: #555;
}

/* Section 5 image grid styles */
#section5 .image-grid {
    display: flex;
    flex-wrap: wrap;

    gap: 15px;
    height: 300px;
    width: 565px;
    margin-bottom: 3rem;
   
}

#section5 .image-card {
  
    width: 127px;
    height: 127px;
}

.img-info {
    width: 127px;
    height: 127px;
}

#section5 .image-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: box-shadow 0.3s ease;
}

#section5 .image-card.selected img {
    /* box-shadow: 0 0 0 4px; */
    /* Blue shadow indicating selection */
}

.cta-message {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}

.cta-message p {
    margin: 5px 0;
    text-decoration: underline;
}

.cta-message .connect-link,
.cta-message .retry-link {
    /* color: #ff0000; */
    text-decoration: none;
    font-weight: bold;
}

.cta-message .connect-link:hover,
.cta-message .retry-link:hover {
    text-decoration: underline;
}

.cta-message a {
    color: #fff;
}

.middle-image {
    transform: scale(1.2);
    /* Zoom effect for the middle image */
    z-index: 1;
    /* Ensure it sits above other images */
}

.bike-tabs {
    display: none;
}

.motorcycle-image h2 {
    margin-right: 150px;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.motorcycle-container {
    display: flex;

    gap: 20px;
}


.motorcycle-image {
    /* height: 250px; Fixed height for the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
    /* Hide any overflowing image content */
    position: relative;
    padding-left: 9px;
    width: 352px;
}

.inputformdata {
    width: 50%;
}

.main-background {
    background-image: url('/content/dam/mysite/background-images/bike-background.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.bike-details-section {
    background-color: #141414;
    /* Dark background similar to the image */
    padding: 50px 0;
    color: #fff;
}

.container {

    margin: 0 auto;
    /* padding: 0 15px; */
}

.section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
}

.bike-cards {
    /* margin-left: 4rem; */
    display: flex;
    justify-content: center;
    gap: 20px;
    opacity: 0.8;
}

.bike-card {
  
    padding: 20px;
    width: 327px;
    height: 460px;
    position: relative;
}

.bike-inner-card {
    height: 543px;
    background-color: #000;
    border: 2px solid grey;
    border-radius: 6px;
}

.bike-hero-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}


.middle-image {
    transform: scale(1.2);
    /* Zoom effect for the middle image */
    z-index: 1;
}

.price {
    display: flex;
    font-size: 12px;
    margin: 15px 0;
    color: #ffffff;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;

}

.bike-features {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 8px;
}

.bike-features li {
    display: flex;
    width: auto;
    height: 32px;
    padding: 8px 10px 8px 10px;
    border-radius: 0px;
    background-color: #282828;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 500;
}

.tick {
    font-weight: 500;
    font-size: 12px;
    margin-right: 10px;
    /* Green color for the tick symbol */
}

.small-bike-image {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.bike-info {
    position: relative;
    text-align: center;
    top: 35px;
}

.bike-name {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.bike-price {
    font-size: 16px;
    margin-bottom: 20px;
}

.feature-item {
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px solid #333;
}

.bike-actions {
    display: flex;
    justify-content: space-between;
}

.configure-now-btn,
.book-test-ride-btn {
    background-color: #ffc107;
    /* Yellowish button color */
    padding: 10px 15px;
    /* border-radius: 5px; */
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.configure-now-btn:hover,
.book-test-ride-btn:hover {
    background-color: #e0a800;
}

.book-test-ride-btn {
    background-color: #343a40;

    color: #fff;
}

.book-test-ride-btn:hover {
    background-color: #23272b;
}

/*  Responsive or for mobile devices ************/


@media (max-width: 375px) {
    body {
        background-color: #181818;
    }

    .container-basic {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .sortable-container {
        overflow: visible; /* Prevent any clipping */
        position: relative; /* Ensure relative positioning for sortable items */
      }
      

    /* For small mobile devices (portrait) */
    .help-me-choose {
        width: 238px;
        height: 34px;
        color: #aaa;
        font-weight: bold;
        /* background-color: blue; */
    }

    .upperside {
        width: 327px;
        height: 129px;
       
        gap: 8px;
    }

    .question {
        width: 335px;
        height: 26px;
        line-height: 23.9px;
        size: 32px;
       
        margin-bottom: 2rem;
    }

    .double {
        position: relative;
        /* height: 92vh; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 250px;
     
        align-items: center;
    }

    .drag-to-rearrange {
        height: 19px;
        width: 327px;
        font-family: TT Commons;
        size: 16px;
        
    }

    .draggableOptions {
        width: 382px;
        height: 333px;
        display: flex;
        margin: 15px;
        align-items: baseline;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: column;
       

    }
    .answer-section {
        width: 283px;
        height: 48px;
      
    }

    .answer-container {
       display: flex;
        width: 327px;
        height: 84px;
        gap: 16px;
        align-items: center;
        justify-content: center;

    }

    .questionnaire-section {
       
        background-image: url('/content/dam/mysite/background-images/background-image.png');
        background-size: 100% 100%;
        background-position: 30% left;
        background-repeat: no-repeat;
        /* margin: 0; */
        height:643px;
       

        display: none;
        color: white;
       
        width: 345px;
       
        margin: 58px auto;
        border-radius: 8px;
    }

    .questionnaire-section h2 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .answer-id-box {
        width: 28px;
        display: flex;
        align-items: center;
        height: 28px;
        color: black;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 16px;
       
        justify-content: center;
        font-weight: 800;
    }


    .option-item{
        cursor: pointer;
        width: 327px;
    }

    .questionnaire-section li {
        width: 292px;
        height: 64px;
        background-color: #333;
        cursor: move;
        margin: 0px 0px 20px 0px;
        padding: 15px;
        border-left: 1.5px solid #fff;
        font-size: 18px;
        display: flex;
        align-items: flex-start;
        gap: 12px;
        position: relative;
        /* border-radius: 8px; */

    }

    .questionnaire-section li img {
        max-width: 25px;
        margin-bottom: 8px;
    }

    .buttton-container {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 362px;
        height: 80px;
        gap: 15px;
       
        background-color: #262626;
        align-items: center;
        top: 780px;
        left: 2px;
        padding: 16px 24px 16px 24px;
    }

    .buttton-container.first .next {
       
        padding: 16px 24px 16px 24px;
        font-size: 12px;
        width: 156px;
        height: 48px;
        border-radius: 8px;

    }

    /********* Second screen ***************/

    .screen2 {
        width: 345px;
        height: 333px;
        display: flex;
        margin: 15px;
        align-items: baseline;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: column;
        /* background-color: red; */
    }
  

    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 28px;
        height: 28px;
        border: 1px solid #ccc;
        border-radius: 16px;
        cursor: pointer;
        position: relative;
        color: #FFFFFF;
    }


 

    .image-grid {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        gap: 20px;
        width: 344px;
        height: 390px;
        margin-top: 65px;
        margin: 17px;
        /* margin-bottom: 3rem; */
    }

    #section4 .image-card {
        box-sizing: border-box;
        position: relative;
        width: 162px;
    }

    .img-div {
        width: 100%;
        height: 120px;
    }

    /************Section 5******************/
    #section5 .image-grid {
        display: flex;
        flex-wrap: wrap;
        /* Allow wrapping to the next line */
        gap: 15px;
        /* height: 300px; */
        width: 360px;
        /* margin-bottom: 3rem; */
        /* overflow-y: scroll; */
        /* Space between images */
    }

    #section5 .image-card {
        /* flex: 1 1 calc(25% - 15px);
    box-sizing: border-box;
    position: relative; */
        width: 96px;
        height: 96px;
    }

    #section5 .image-card img {
        width: 100%;
        height: auto;
        display: block;
        transition: box-shadow 0.3s ease;
    }

    .help-me-choose-box {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        border-radius: 4px;
    }

    .overlay2{
       
        position: absolute;
        top: 0;
        left: 0;
        width: 95px;
        height: 95px;
        border: 2px solid white;
        z-index: 10;
        border-radius: 4px;
    }

    .overlay {
        display: none;
        /* Hidden by default */
        position: absolute;
        top: 0;
        left: 0;
        width: 95px;
        height: 95px;

        border: 2px solid white;
        z-index: 10;
        /* Ensure it's above other content */
        border-radius: 4px;
    }
    .checkmark {
        position: absolute;
        top: -10px;
        right: -2px;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        /* Ensure it's above the .overlay */
    }

    #section5 .img-info {
        width: 96px;
        height: 96px;
    }


    /*************** for final screen *********************/

    .section-title {
        text-align: center;
        font-size: 13px;
        /* margin-bottom: 30px; */
        margin-top: 1rem;
        /* text-transform: uppercase; */
        color: #fff;
    }

    .bike-tabs {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        padding: 10px 0;
        /* border-bottom: 2px solid #ff0000; */
        width: 360px;/
    }

    .bike-card {
        padding: 10px;
        width: 358px;
        height: 505px;

    }

    .bike-inner-card {
        height: auto;
    }

    .hero-image img {
        width: 100%;
        /* Make image responsive */
        height: auto;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 327px;
    }

    .configure-btn,
    .test-ride-btn {
        font-size: 10px;
        padding: 8px;
        flex: 1;
        margin: 5px;
    }

    .bike-cards {
        margin-top: 7.5rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;

    }

    .bike-tab {
        color: #fff;
        font-weight: bold;
        /* padding: 10px; */
        cursor: pointer;
        flex: 1;
        text-align: center;
        border-bottom: 2px solid transparent;

    }

    .bike-tab.active {
        color: #ff0000;
        /* Active tab color */
        border-bottom-color: #ff0000;
    }

    .main-background {
        background-image: url('/content/dam/mysite/background-images/mobile-background-image.png');
        background-size: 110%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        height: auto;
        width: 340px;
        overflow-y: auto;
        /* margin-left: -99px; */
        color: #fff;
    }

    .bike-features {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 14px;
        width: 275px;
    }

    .image-thumbnails img{
        width: 86px;
    }
    .bike-image-container{
        width: 271px;
    }

  

    .bike-tab-line {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: red;
        transition: transform 0.3s ease;
        width: 0;
        left: 0;
    }
    .fixedPart{
        position: fixed;
        /* margin-bottom: 3rem; */
        z-index: 999;
        background: #282828;
        top: 1px;
        width: 100%;
        left: 1px;

    }
}

@media(min-width:1024px) and (max-width:1439px) {
    .main-background {
        height: 110vh;
    }

}