.image-selection-container {
    max-width: 800px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Adjust gap between images */
}

.image-card {
    width: calc(33.33% - 20px);
    position: relative;
    overflow: hidden;
    height: 166px;
}

.img-div {
    position: relative;
    width: 100%;
    height: 200px; /* Set a fixed height for all boxes */
    overflow: hidden;
    object-fit: contain;
}

.selectable-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div, maintaining aspect ratio */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Hide overlay by default */
    align-items: center;
    justify-content: center;
}

.image-card.selected .overlay {
    display: flex; /* Show overlay when image is selected */
}

.image-card.selected::after{
    content: '✓';
    position: absolute;
    top: 0px;
    /* Position at the very top edge */
    right: 0px;
    /* Position at the very right edge */
    width: 25px;
    /* Ensure it's a circle by setting equal width and height */
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    /* Tick mark color */
    background: #00cc00;
    /* Circle background color */
    border-radius: 50%;
    /* Make it a circle */
    transform: translate(50%, -50%);
}

/* .checkmark {
    width: 50px;
    height: 50px;
    
    background-size: contain;
} */
.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

.image-card.disabled {
    pointer-events: none; /* Prevent clicking on disabled cards */
    opacity: 0.5; /* Optionally reduce opacity for visual indication */
}

