<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='mysite-demo'}" />
</sly>

<h1>heyy</h1>

<div id="main-section">
    <div>
        <p class="heading"><b>EXPERIENCE YOUR NEXT ROYAL ENFIELD MOTORCYCLE</b></p>
    </div>
    <div class="motorcycle-container" id="motorcycle-container">
        <!-- Dynamic content will be rendered here by JavaScript -->
    </div>
    <div class="cta-message">
        <p>Can't find your ideal Royal Enfield?</p>
        <p>
            <a href="#" class="connect-link">Connect with an expert</a>
            <span> or </span>
            <a href="#" class="retry-link">Retry</a>
        </p>
    </div>
</div>
